body {

  font-family: 'Bebas Neue', sans-serif;
font-family: 'Lilita One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rowdies', cursive;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
